.ui-table-container {
	font-size: 13px;
	cellspacing: 0px;
	border-collapse: collapse;
	margin: 10px 0 0 0;
}

.fa-btn-up {
	margin: 8px 0 0 0;
	padding: 2px 0 0 7px;
}

.footer-goto {
	float: left;
	margin-right: 10px;
}

.ui-form-show-or-not {
	display: none;
}

。ui-ul-li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.auto-hidden-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.error-info-apply {
	padding-top: 9px;
}

.score-tips {
	padding: 8px 0 0 0;
}
.score-input{
	margin: 0 0 0 8px;
}
.score-ul-li {
	margin: 0 auto;
	
}

.score-ul-li li {
	float: left;
	margin: 0px 0px 0px 4px;
}

.score-ul-li li input {
	position: relative;
	top: -15px;
}

.score-ul-li li img {
	margin: 0 0 0 5px;
	width: 130px;
	height: 38px;
}